# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/genome-guide/node_modules
/genome-guide/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/genome-guide/coverage

# next.js
/genome-guide/.next/
/genome-guide/out/

# production
/genome-guide/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# data files
*.fa
*.fasta
*.gtf